@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import "tailwindcss";


@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-glook: "Gloock", sans-serif;
  --color-cc-purple: #5267DF;
  --color-cc-red: #FA5959;
  --color-cc-blue: #44a2e2;
  --color-cc-dblue: #224060;
  --color-cc-grey: #9194A2;
  --color-cc-white: #f7f7f7;
}

.bg-main {
  @apply min-h-screen bg-gradient-to-b from-white via-[#44a2e2]/90 to-[#224060]
}

.btn {
  @apply bg-[#224060] text-white rounded-md shadow-amber-50 px-7 py-3
}
